.contato-page {
  .map-container {
    iframe {
      width: 100%;
      height: 300px;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #d35a30;
  }

  h3,
  p {
    padding: 0 1rem;
  }
}
